
    html{
        display:flex;
        justify-content: center;
        align-items: center;
        width: auto;
        overflow-x: hidden;
    }
    body{
        width: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
    }
    .center{
        width: 90%;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    #top{
        width: auto;   
    }
    menu{
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
    }
    .accommodationbloc{
        width: 42%;
    }
    #filters{
        width: auto;
        height: 80px;
    }
    #group{
        justify-content: center;
        align-items: center;
    }
    article{
        width: 90%;
        height: auto;
    }
    aside{
        margin-top: 50px;
        width: 90%;
        height: auto;
    }
    #offers{
        width: 100%;
        align-content: flex-start;
    }
    #favorites{
        height: auto;
        flex-flow: row wrap;
        align-content: space-between;
        justify-content: space-around;
        width: 100%;
    }
    .popularbloc{
        margin-left: 150px;
        margin-right: 150px;
        flex: 1 1 auto;
        height: 200px;
    }
    
    #leisure{
        width: 100%;
        height: 400px; 
    }
    #activity{
        width: 100%;
        height: 85%;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        margin-bottom: 20px;
    }
    .imgactivity1{
        height: 250px;
    }
    .imgactivity2{
        height: 90px;
    }
    #endmenu{
        width: 100%;
    }
