
    html{
        display:flex;
        justify-content: center;
        align-self: center;
    }
    body{
        width: 100%;
    }
    #top{
        width: auto;   
    }
    menu{
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: space-around;
    }
    #filters{
        width: auto;
    }
    #group{
        justify-content: center;
        align-items: center;
    }
    article{
        width: 100%;
        height: auto;
    }
    aside{
        margin-top: 50px;
        width: auto;
        height: auto;
    }
    #offers{
        width: 100%;
        align-content: flex-start;
    }
    #favorites{
        height: auto;
        flex-flow: row wrap;
        align-content: space-between;
        justify-content: space-around;
        width: fit-content;
    }
    .popularbloc{
        width: 250px;
        margin: 20px;
    }
    #leisure{
        width: auto;
        height: auto; 
    }
    #activity{
        width: auto;
        height: auto;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
    }
    .blocactivitytype1{
        margin-right: 150px;
    }
    #endmenu{
        width: 100%;
    }
