
    html{
        display:flex;
        justify-content: center;
        align-self: center;
    }
    body{
        width: 90%;
    }
    #top{
        width: auto;   
    }
    #filters{
        width: auto;
    }
    #group{
        justify-content: center;
        align-items: center;
    }
    article{
        width: 100%;
        height: auto;
    }
    aside{
        margin-top: 50px;
    }
    #offers{
        width: 100%;
        align-content: flex-start;
    }
    #leisure{
        width: auto;
        height: 950px; 
    }
    #activity{
        width: auto;
        height: 950px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }
    #endmenu{
        width: 950px;
    }
