@media all and (max-device-width:480px){
    html{
        display:flex;
        justify-content: center;
        align-self: center;
    }
   

    /*Header*/
    #top{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
    img{
        width: 120px;
        height: 70px;
    }
    #registerbutton{
        order: 2;
        font-weight: bold;
        margin-right: 20px;
    }
    #accommodationmenu{
        border-bottom:  2px #0065FC solid;
        padding-bottom: 30px;
    }
    #activitymenu{
        border-bottom:  2px #F2F2F2 solid;
        padding-bottom: 30px;
    }
    #logo{
        flex: none;
        width: 200px;
        order: 1;
        margin-bottom: 20px;
    }

    /* Nav*/
    menu{
        flex-wrap: nowrap;
        padding-left: 0px;
    }
    nav{
        order: 3;
    }

    /*Searchbar*/
    #searchbar{
        width: 300px;
    }
    input[type=search]{
        width: 150px;  
    }
    button[type=submit]{
        background-color: #0065FC;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        width: 40px;
        height: 40px; 
    }
    #searching{
        display: none;
    }
    #mini{
        display: contents;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }
    .fa-search{
        width: 30px;
        height: 30px;
        color:white;
        padding-top: 10px;
    }

    /*Filters*/
    #filters{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
    #filters p{
        width: 150px;
    }

    /*Infobar*/
    #infobar{
    flex-wrap: nowrap;
    }

    /*Section  Hébergements + populaires */
    #group{
        margin-left: 10px;
        flex-flow: column nowrap;
    }

    /* Les hébergements */
    article{
        flex-flow: column nowrap;
        height: 1700px;
        width: 320px;
        background-color: white;
        order: 2;
        padding-left: 50px;
    }
    #offers{
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        width: 320px;
        height: 1500px;
    }
    .accommodationbloc{
        width: 300px;
        box-shadow: 10px 10px 5px #F2F2F2;
    }
    .imglodging{
        width: 300px; 
    }

    /*Les populaires*/
    aside{
        order: 1;
    }
   
    #leisure{
        height: 1500px;
        margin-top: 30px;
        margin-left: 0px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center; 
    }
    #activity{
        width: 320px;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        height: 1420px; 
        margin-left: 0px; 
    }
    .blocactivitytype1 , .blocactivitytype2_5{
        width: 300px;
        height:180px;
    }
    .blocactivitytype2{
        width: 300px;
        height:400px;
        flex-flow: column nowrap;
        margin-bottom: 50px;
    }
    .imgactivity1 , .imgactivity2{
        width: 300px;
        height: 110px;
    }

    /*Footer*/
    #endmenu{
        display: flex;
        flex-flow: column wrap;
        justify-content: center; 
        align-items: center;
    }
}