@font-face
{
    font-family: "Raleway";
    src: url(https://www.fontsquirrel.com/fonts/download/raleway);       
}
body
{
    margin-left: 50px;
    margin-right: 50px;
}
section
{
    font-family: "Raleway";
    margin-top: 50px;
    margin-left: 20px;
}
li
{
    list-style: none;
}
#en-tete
{
    display: flex;
    flex-flow: row wrap;
}
nav
{
display: flex;
flex-direction: row;
flex: 1 1 auto;
justify-content: space-around;
margin:auto;
font-size: 20px;
}
header
{
display: flex;
justify-content: flex-start;
align-items: center;
flex : 2 1 auto;
}
a
{
    text-decoration: none;
}

#Hébergements
{
    color:#0065FC;
}
#Hébergements:hover , #Sinscrire:hover , #Activités:hover
{
    border-top:  2px #0065FC solid;
    padding-top: 55px;
}
#Sinscrire
{
    color:#0065FC;
}

#Activités
{
    color:black;
}
img
{
width: 100px;
height: 50px;
}
#section1
{
    font-size: 20px;
}
h2
{
    font-weight: bold;
    margin:0px;
}
h3
{
    font-weight: bold;
    margin:0px;
    padding-left: 20px;   
}
#Filtres
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 65%;
    flex: 1 1 auto;
    font-size: 20px;
}
#Economique , #Familial , #Romantique , #Animaux-autorisés
{
    display: flex;
    flex-flow: row wrap;
    border: 2px #F2F2F2 solid;
    border-radius: 70px / 70px;
    height:30px;
    justify-content: flex-start;
    align-items: flex-start;  
}

/*Icons and images settings*/

.fas
{
    display: flex;
    color: #0065FC; 
    font-size: small;
}
.fa-map-marker-alt
{ 
    color: black;
}
#iconsinfo
{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 30px;
    height: 30px;
    border: 2px #F2F2F2 solid;
    border-radius: 90px / 90px;
}
#icons
{
    background-color: #DEEBFF;
    border-radius: 50px /50px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;  
}
#iconsmap
{
    background-color: #F2F2F2;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;   
}
#starsgrey
{
    color:#F2F2F2;
}
.imghbg
{
    width: 390px;
    height: 250px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.fa-chart-line
{
    color: black;
    font-size: x-large;
}
.imgpop
{
    width: 250px;
    height: 265px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-left: 5px;  
}
.imgactivite1
{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 400px;
    height: 500px;
}
.imgactivite2
{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 400px;
    height: 170px; 
}

/*Icons and images settings*/

#texte
{
    padding-left: 20px;
    padding-right: 20px;
    height: 30px;   
}
#texte:hover
{
    color:#0065FC; 
}
input
{
border: none;
}
#section2
{
    display: flex;
flex-flow: row wrap;
justify-content: flex-start;
align-items: center;
}
form
{
    display: flex;
    flex-flow: row wrap; 
}
input[type=submit]
{
    background-color: #0065FC;
    padding-bottom: 7px;
    padding-top: 7px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    width: 150px;
}
input[type=search]
{
    border-top : 2px solid #F2F2F2;
    border-bottom : 2px solid #F2F2F2;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 250px;
}
#Recherche::placeholder
{
    color: black;
    font-weight: bold;
    text-align: center;
}
#Rechercher
{
    color: white;
    font-weight: bold;
}
#section4
{
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items:stretch;
}
#info
{
    padding-left: 18px;
    margin-top: 5px;
    font-size: 20px;
}

#section5
{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;    
}
article
{
    display:flex;
    flex-flow:column nowrap;
    background-color: #F2F2F2;
    width: 63%;
    border-radius: 30px / 30px;
    padding:50px;
    height: 1000px;
}

#notation
{
    display:flex;
    flex-flow:row wrap;
}
#hebergementbloc
{
    background-color: white;
    border-radius: 30px / 30px;
    width: 30%;
    height:360px;
    display:flex;
    flex-flow: column nowrap;
    padding:5px;  
    box-shadow: 10px 10px 10px grey;    
}
.description
{
   margin: 0px;
   padding-left: 30px;
   display:flex;
   flex-flow:column wrap;  
}
#corpsdetexte
{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    height: 90%;
    width: 1300px;
    align-content: flex-start;
    justify-content:flex-start;
    margin-left: 0px;   
}
.description p
{
    margin:0px;
    padding-bottom:10px;
}
footer
{
    margin-top: 50px;
}
aside
{
    display:flex;
    flex-flow:column nowrap;
    background-color: #F2F2F2;
    width: 25%;
    height:1000px;
    border-radius: 30px / 30px;
    padding:50px;
}
aside header
{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;  
}
aside header p
{
    margin:0px;
}
#populairebloc
{
    background-color: white;
    border-radius: 30px / 30px;
    display: flex;
    flex-flow: row nowrap;
    margin:10px;
    width: 500px;
    height: 280px;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px grey;
}
#lespopulaires
{
    display:flex;
    flex-flow: column wrap;
    justify-content: space-between;
}
#section6
{
    margin-top: 100px;
}
#activites
{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between; 
    margin-top: 20px;  
}
#blocactivitetype1
{
    box-shadow: 10px 10px 5px #F2F2F2;
    border-radius: 30px / 30px;
    height: 570px;
}
#blocactivitetype2_5
{
    box-shadow: 10px 10px 5px #F2F2F2;
    border-radius: 30px / 30px;
    height: 250px;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
#blocactivitetype2
{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 600px;
    margin:0px;
    justify-content: space-between;
}