@font-face{
    font-family: "Raleway";
    src: url(https://www.fontsquirrel.com/fonts/download/raleway);       
}
section{
    font-family: "Raleway";
    margin-top: 50px;
    margin-left: 20px;
}
li{
    list-style: none;
}

h2{
    font-weight: bold;
    margin:0px;
    color: black;
}
h3{
    font-weight: bold;
    margin:0px;
    padding-left: 20px; 
    color: black;  
}
h4{
    font-weight: bold;
}
p{
    color: black;
}


/*Icons and images settings*/

img{
    width: 100px;
    height: 50px;
}
.fas{
    display: flex;
    color: #0065FC; 
    font-size: small;
}
.fa-map-marker-alt{ 
    color: black;
}
#iconsinfo{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 30px;
    height: 30px;
    border: 2px #F2F2F2 solid;
    border-radius: 90px / 90px;
}
#icons{
    background-color: #DEEBFF;
    border-radius: 50px /50px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;  
}
#iconsmap{
    background-color: #F2F2F2;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;   
}
#starsgrey{
    color:#F2F2F2;
}
.imglodging{
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 390px;
    height: 250px;
}
.fa-chart-line{
    color: black;
    font-size: x-large;
}
.imgpopular{
    width: 250px;
    height: 265px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-left: 5px; 
    object-fit: cover; 
}
.imgactivity1{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 400px;
    height: 500px;
    object-fit: cover;
}
.imgactivity2{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 400px;
    height: 170px; 
    object-fit: cover;
}

/*Icons and images settings*/

/* Header and Nav */
#top{
    display: flex;
    flex-flow: row wrap;
    margin-left: 50px;
    margin-right: 50px;
}
nav{
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: space-around;
    margin:auto;
    font-size: 20px;
}
header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex : 2 1 auto;
}
a{
    text-decoration: none;
}
#accommodationmenu{
    color:#0065FC;
}
#accommodationmenu:hover , #registermenu:hover , #activitymenu:hover{
    border-top:  2px #0065FC solid;
    padding-top: 55px;
}
#registermenu{
    color:#0065FC;
}
#activitymenu{
    color:black;
}
#hook{
    font-size: 20px;
}
#text{
    padding-left: 20px;
    padding-right: 20px;
    height: 30px;   
}
#text:hover{
    color:#0065FC; 
}

/* Section Hook*/
#hook{
    margin-left: 50px;
    margin-right: 50px;
}

/*Section  Search bars*/
#searchbar{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}
form{
    display: flex;
    flex-flow: row wrap; 
}
input{
    border: none;
}
input[type=submit]{
    background-color: #0065FC;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    width: 200px;
    height: 40px;
}
input[type=search]{
    border-top : 2px solid #F2F2F2;
    border-bottom : 2px solid #F2F2F2;
    width: 350px;
    height: 40px;
}
#research::placeholder{
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}
#searching{
    color: white;
    font-weight: bold;
    font-size: 20px;
}

/* Section Les filtres*/
#filters{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 65%;
    flex: 1 1 auto;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 50px;
}
#economic , #family , #romantic , #pets{
    display: flex;
    flex-flow: row wrap;
    border: 2px #F2F2F2 solid;
    border-radius: 70px / 70px;
    height:30px;
    justify-content: flex-start;
    align-items: flex-start;  
}

/*Section info */
#infobar{
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items:stretch;
    margin-left: 50px;
    margin-right: 50px;
}
#info{
    padding-left: 18px;
    margin-top: 5px;
    font-size: 20px;
}

/*Section  Hébergements + populaires */
#menu{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;  
    margin-left: 50px;
    margin-right: 50px;  
}

/* Les hébergements */
article{
    display:flex;
    flex-flow:column nowrap;
    background-color: #F2F2F2;
    width: 63%;
    border-radius: 30px / 30px;
    padding:50px;
    height: 1000px;
}
.rating{
    display:flex;
    flex-flow:row wrap;
}
.accommodationbloc{
    background-color: white;
    border-radius: 30px / 30px;
    width: 30%;
    height:360px;
    display:flex;
    flex-flow: column nowrap;
    padding:5px;  
    box-shadow: 10px 10px 10px grey;   
}
.description{
   margin: 0px;
   padding-left: 30px;
   display:flex;
   flex-flow:column wrap; 
}
#offers{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    height: 90%;
    width: 1300px;
    align-content: flex-start;
    justify-content:flex-start;
    margin-left: 0px;   
}
.description p{
    margin:0px;
    padding-bottom:10px;
}
footer{
    margin-top: 50px;
}

/* Les populaires */
aside{
    display:flex;
    flex-flow:column nowrap;
    background-color: #F2F2F2;
    width: 25%;
    height:1000px;
    border-radius: 30px / 30px;
    padding:50px;
}
aside header{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;  
}
aside header p{
    margin:0px;
}
.popularbloc{
    background-color: white;
    border-radius: 30px / 30px;
    display: flex;
    flex-flow: row nowrap;
    margin:10px;
    width: 500px;
    height: 280px;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px grey;
}
#popular{
    display:flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

/* Section Les activités */
#leisure{
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}
#activity{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between; 
    margin-top: 20px;  
}
.blocactivitytype1{
    box-shadow: 10px 10px 5px #F2F2F2;
    border-radius: 30px / 30px;
    height: 570px;
}
.blocactivitytype2_5{
    box-shadow: 10px 10px 5px #F2F2F2;
    border-radius: 30px / 30px;
    height: 250px;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.blocactivitytype2{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 600px;
    margin:0px;
    justify-content: space-between;
}

/* Footer */
#endmenu{
    background-color: #F2F2F2;
    background-size: cover;
    height: max-content;
    width:100%;
    display:flex;
    flex-direction: row;  
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 20px;
    padding-left: 50px;
}
#endmenu section{
    width: 600px;
}