@font-face
{
    font-family: "Raleway";
    src: url(https://www.fontsquirrel.com/fonts/download/raleway);   
    
}
body
{
    margin-left: 50px;
    margin-right: 50px;
}
li
{
    list-style: none;
}
#en-tete
{
    display: flex;
    flex-flow: row wrap;

}
nav
{
display: flex;
flex-direction: row;
flex: 1 1 auto;
justify-content: space-around;
margin:auto;
font-size: 20px;
}
header
{
display: flex;
justify-content: flex-start;
align-items: center;
flex : 2 1 auto;
}
a
{
    text-decoration: none;
}
section
{
    font-family: "Raleway";
    margin-top: 50px;
    margin-left: 20px;
}
#Hébergements
{
    color:#0065FC;
}
#Hébergements:hover , #Sinscrire:hover , #Activités:hover
{
    border-top:  2px #0065FC solid;
    padding-top: 55px;
}
#Sinscrire
{
    color:#0065FC;
}

#Activités
{
    color:black;
}
img
{
width: 100px;
height: 50px;
}
#section1
{
    font-size: 20px;
}
h2
{
    font-weight: bold;
}
#Filtres
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 65%;
    flex: 1 1 auto;
    font-size: 20px;
}
#Economique , #Familial , #Romantique , #Animaux-autorisés
{
    display: flex;
    flex-flow: row wrap;
    border: 1px #F2F2F2 solid;
    border-radius: 70px / 70px;
    height:30px;
    justify-content: flex-start;
    align-items: flex-start;  
}
.fas
{
    display: flex;
    color: #0065FC; 
    font-size: small;
}
.fa-map-marker-alt
{ 
    color: black;
}
#icons
{
    background-color: #DEEBFF;
    border-radius: 50px /50px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;  
}
#iconsmap
{
    background-color: #F2F2F2;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center; 
    
}
#texte
{
    padding-left: 20px;
    padding-right: 20px;
    height: 30px;
    
}
#texte:hover
{
    color:#0065FC; 
}
input
{
border: none;

}
#section2
{
    display: flex;
flex-flow: row wrap;
justify-content: flex-start;
align-items: center;
}
form
{
    display: flex;
    flex-flow: row wrap;
 
}
input[type=submit]
{
    background-color: #0065FC;
    padding-bottom: 7px;
    padding-top: 7px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    width: 150px;
}
input[type=search]
{
    border-top : 1px solid #F2F2F2;
    border-bottom : 1px solid #F2F2F2;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 250px;
}
#Recherche::placeholder
{
    color: black;
    font-weight: bold;
    text-align: center;

}
#Rechercher
{
    color: white;
    font-weight: bold;
}

