@media only screen and (min-width: 490px) and (max-width: 1024px){
    html{
        display:flex;
        justify-content: center;
        align-self: center;
    }
    #top{
        width: auto;   
    }
    #group{
        justify-content: center;
        align-items: center;
    }
    aside{
        margin-top: 50px;
    }
    #leisure{
        width: auto;
        height: 950px; 
    }
    #activity{
        width: auto;
        height: 950px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }
    #endmenu{
        width: 950px;
    }
}